# Игнорировать файлы конфигурации
*.config
*.conf
.env

# Игнорировать директории сборки и зависимости
node_modules/
build/
dist/
doc89c/

# Игнорировать файлы настроек IDE
.vscode/
.idea/